html, body, form {
	margin: 0;
	padding: 0;
	height: 100%;
	max-width: 2400px;
}

header {
	background: black;
	height: 100px;
}

#mainSection {
	width: 100%;
	height: 600px;
	background-image: url('book5.jpg');
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
	color: green;
}

#middleSection {
	/*background: #ede4d3;*/
	background-image: url('background.png');
	background-repeat: repeat;
	width: 742px;
	height: 296px;
	left: 20%;
	top: 155px;
	position: relative;
	border-radius: 5px;
}

@media screen and (max-width:758px) {
	#middleSection {
		width: 246px;
	}

}

@media screen and (min-width:1230px) {
	/*OPTIONAL 2*/
	/*this is for streching image in width (not keeping aspect ratio of image), uncomment if not wanted - also comment OPTIONAL 1 in sample.js*/
	#mainSection {
		background-size: 100% 100%;
		background-repeat: repeat;
	}
	/*OPTIONAL 2*/

	#middleSection {
		width: 60%;
		height: 50%;
		left: 20% !important;
	}
}
