<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/Book.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  </head>
  <body>


    <div class ="container">

      <nav class="navbar navbar-light bg-faded navbar-fixed-top">
          <ul class="nav navbar-nav">
            <li class="ml-3 pl-3 nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="register">Sign Up</a>
            </li>
          </ul>
          <form class="form-inline float-xs-right mr-3 pr-3">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
      </nav>


      <div id = "about-us" class="jumbotron">
        <div class="container text-md-center pt-3">
          <h1 class="display-3">About Us</h1>
          <p class="lead">Welcome to Book Exhange</p>
        </div>
      </div>

      <div class = "row pt-2">
        <div class = "col-md-6">
          <img class="img-fluid rounded mx-auto d-block" src="img/about-book.jpg" alt="Card image cap">
        </div>
        <div id = "about_introduction" class = "col-md-6">
          <p class ="pt-2 mt-1"></p>
          BookExchange is the place to meet, hangout  and connect with other Book lovers in your community. 
          <p></p>
        </div>
      </div>

      <div class = "row mt-3" >
      <hr>

        <div class = "col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="img/mission.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Our Mission</h4>
              <p class="card-text">Connect Book lovers in the community and bring them closer to each other </p>
            </div>
          </div>
        </div>

        <div class = "col-md-4">        
          <div class="card">
            <img class="card-img-top img-fluid" src="img/values.gif" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title pt-1">Our Values</h4>
              <p class="card-text">Putting usability and convience at first with a touch of elegance and simplicity</p>
            </div>
          </div>
        </div>

        <div class = "col-md-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="img/solution.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Our Solution</h4>
              <p class="card-text">Have an up-to-date database with easy to use interface to give you the best selection</p>
            </div>
          </div>
        </div>
      </div>

      <div id="contact" class = "row mt-3 text-md-center">
        <div class = "col-md-12">

          <div class="btn-group mt-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contact-window">Contact Us</button>
          </div>

          <p><small>&copy; 2016 Debashish, Raul, Christian </small> </p>
        </div>
      </div> 






    </div>  <!-- container -->

<!-- Modal windows -->

    <div class="modal fade" id="contact-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label class = "sr-only" for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
              </div>
              <div class="form-group">
                <label class = "sr-only" for="mail">Email</label>
                <input type="email" class="form-control" id="mail" placeholder="Email">
              </div>
              <div class="form-group">
                <label class = "sr-only" for="text">Message</label>
                <input type="email" class="form-control" id="text" placeholder="Message">
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>

<!-- Modal window -->


  


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </body>
</html>