<div id = "about-us" class="jumbotron">
    <div class="container text-md-center pt-3">
        <h1 class="display-3">About Us</h1>
        <p class="lead">Welcome to Book Exhange</p>
    </div>
</div>

<div class = "row pt-2">
    <div class = "col-md-6">
        <img class="img-fluid rounded mx-auto d-block" src="img/about-book.jpg" alt="Card image cap">
    </div>
    <div id = "about_introduction" class = "col-md-6">
        <p class ="pt-2 mt-1"></p>
        BookExchange is the place to meet, hangout    and connect with other Book lovers in your community. 
        <p></p>
    </div>
</div>

<div class = "row mt-3" >
<hr>

    <div class = "col-md-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="img/mission.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Our Mission</h4>
                <p class="card-text">Connect Book lovers in the community and bring them closer to each other </p>
            </div>
        </div>
    </div>

    <div class = "col-md-4">                
        <div class="card">
            <img class="card-img-top img-fluid" src="img/values.gif" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title pt-1">Our Values</h4>
                <p class="card-text">Putting usability and convience at first with a touch of elegance and simplicity</p>
            </div>
        </div>
    </div>

    <div class = "col-md-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="img/solution.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Our Solution</h4>
                <p class="card-text">Have an up-to-date database with easy to use interface to give you the best selection</p>
            </div>
        </div>
    </div>
</div>