
<!-- JumboTron -->

<div class="jumbotron jumbotron-fluid text-md-center ">

    <h1 class="display-4 text-md-center">Book Exchange</h1>
    <h5 class = "text-white"> World's largest online-based book club </h5>

</div>  <!--jumbotron -->



<!-- Tabs 
<div class = "pb-1 pt-1 mb-2">
    <hr>        
        <ul  class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
      </ul>
</div>

 Tabs -->

<!-- Books -->

<div id="books" class="row my-2 pt-2 pb-1">
        
    <div class = "col-md-2">
        <div class="card ">
            <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/kept.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Kept</h4>
                <p class="card-text">Maya Banks</p>
                <button type="button" class="btn btn-info">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class = "col-md-2">                
        <div class="card">
            <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/family-tree-12.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Family Tree</h4>
                <p class="card-text">Susan Wiggs</p>
                <button type="button" class="btn btn-info">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class = "col-md-2">                    
        <div class="card">
            <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/escape-clause-6.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Escape Clause</h4>
                <p class="card-text">John Sanford</p>
                <button type="button" class="btn btn-info">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class = "col-md-2">                    
        <div class="card">
            <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/the-sellout.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">The Sellout</h4>
                <p class="card-text">Paul Beatty</p>
                <button type="button" class="btn btn-info">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class = "col-md-2">                    
        <div class="card">
            <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/the-whistler.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">The Whistler</h4>
                <p class="card-text">John Grisham</p>
                <button type="button" class="btn btn-info">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class = "col-md-2">                    
        <div class="card">
            <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/the-bookman-s-tale.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Bookman tale</h4>
                <p class="card-text">Charlie Lovett</p>
                <button type="button" class="btn btn-info">Add to Cart</button>
            </div>
        </div>
    </div>

</div>         <!-- Books -->

{{!-- <!--
<div class="row    py-2">
    <hr>
    
    <div class="col-md-1">
        <img class="img-fluid rounded mx-auto d-block" src="img/bullet1.gif" alt="Card image cap">
    </div>
    <div class="col-md-5">
        <h4 class = "mt-1 ">Meet books lovers just like you in the community </h4>
    </div>
    <div class="col-md-1">
        <img class="img-fluid rounded mx-auto d-block" src="img/bullet2.gif" alt="Card image cap">
    </div>
    <div class="col-md-5">
        <h4 class = "mt-1">Share your Book Collection online and exchange books with others</h4>
    </div>
    <div class="col-md-1 mt-3">
        <img class="img-fluid rounded mx-auto d-block" src="img/bullet3.gif" alt="Card image cap">
    </div>
    <div class="col-md-5 mt-3">
        <h4 class = "mt-1">Organize real world gathering</h4>
    </div>
    <div class="col-md-1 mt-3">
        <img class="img-fluid rounded mx-auto d-block" src="img/bullet5.gif" alt="Card image cap">
    </div>
    <div class="col-md-5 mt-3">
        <h4 class = "mt-1">Discover your next next big read</h4>
    </div>


<div>
--> --}}
<div class = "container-fluid">

    <id id = "bottom">
        <div class = "row">
            <div id = "how" class="row mt-3 pt-1 pb-3 ">
                <hr>
                <div class = "col-md-6 pt-1">
                    <img class="img-fluid rounded mx-auto d-block" src="img/monitor.jpg" alt="Card image cap">
                </div>
                    
                <div class = "col-md-6 py-3">
                        <p class = "">Meet books lovers just like you in the community</p>
                        <p class = "py-1">Organize real world gathering</p>
                        <p class = "py-1">Share your Book Collection online and Exchange books eith others</p>

                </div>

            </div>
        </div>        
    </id>        

</div>
