<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/Book.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  </head>
  <body>

<!-- JumboTron -->
    <div class ="container">
      
      <div class="jumbotron jumbotron-fluid text-md-center ">
        
        <nav class="navbar navbar-light bg-faded navbar-fixed-top ">
          <ul class="nav navbar-nav">
            <li class="ml-3 pl-3 nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="register">Sign Up</a>
            </li>
          </ul>
          <form class="form-inline float-xs-right mr-3 pr-3">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </nav>


          <h1 class="display-4 text-md-center">Book Exchange</h1>
          <h5 class = "text-white"> World's largest online-based book club </h5>

      </div>  <!--jumbotron -->



<!-- Tabs -->
    <div  class = "pb-1 pt-1 mb-2">
      <hr>        
      <ul  class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    <div>

<!-- Tabs -->

<!-- Books -->

      <div id="books" class="row my-2 pt-2 pb-1">
          
        <div class = "col-md-2">
          <div class="card ">
            <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/kept.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Kept</h4>
              <p class="card-text">Maya Banks</p>
              <button type="button" class="btn btn-info">Add to Cart</button>
            </div>
          </div>
        </div>

        <div class = "col-md-2">        
          <div class="card">
            <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/family-tree-12.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Family Tree</h4>
              <p class="card-text">Susan Wiggs</p>
              <button type="button" class="btn btn-info">Add to Cart</button>
            </div>
          </div>
        </div>

        <div class = "col-md-2">          
          <div class="card">
            <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/escape-clause-6.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Escape Clause</h4>
              <p class="card-text">John Sanford</p>
              <button type="button" class="btn btn-info">Add to Cart</button>
            </div>
          </div>
        </div>
      
        <div class = "col-md-2">          
          <div class="card">
            <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/the-sellout.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">The Sellout</h4>
              <p class="card-text">Paul Beatty</p>
              <button type="button" class="btn btn-info">Add to Cart</button>
            </div>
          </div>
        </div>

        <div class = "col-md-2">          
          <div class="card">
            <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/the-whistler.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">The Whistler</h4>
              <p class="card-text">John Grisham</p>
              <button type="button" class="btn btn-info">Add to Cart</button>
            </div>
          </div>
        </div>

        <div class = "col-md-2">          
          <div class="card">
            <img class="card-img-top img-fluid rounded mx-auto d-block" src="img/the-bookman-s-tale.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Bookman tale</h4>
              <p class="card-text">Charlie Lovett</p>
              <button type="button" class="btn btn-info">Add to Cart</button>
            </div>
          </div>
        </div>
      
      </div>     <!-- Books -->

<!--
      <div class="row  py-2">
        <hr>
        
        <div class="col-md-1">
          <img class="img-fluid rounded mx-auto d-block" src="img/bullet1.gif" alt="Card image cap">
        </div>
        <div class="col-md-5">
          <h4 class = "mt-1 ">Meet books lovers just like you in the community </h4>
        </div>
        <div class="col-md-1">
          <img class="img-fluid rounded mx-auto d-block" src="img/bullet2.gif" alt="Card image cap">
        </div>
        <div class="col-md-5">
          <h4 class = "mt-1">Share your Book Collection online and exchange books with others</h4>
        </div>
        <div class="col-md-1 mt-3">
          <img class="img-fluid rounded mx-auto d-block" src="img/bullet3.gif" alt="Card image cap">
        </div>
        <div class="col-md-5 mt-3">
          <h4 class = "mt-1">Organize real world gathering</h4>
        </div>
        <div class="col-md-1 mt-3">
          <img class="img-fluid rounded mx-auto d-block" src="img/bullet5.gif" alt="Card image cap">
        </div>
        <div class="col-md-5 mt-3">
          <h4 class = "mt-1">Discover your next next big read</h4>
        </div>
  

      <div>
-->
      <div class = "container">

        <id id = "bottom">
          <div class = "row">
            <div id = "how" class="row mt-3 pt-1 pb-3 ">
              <hr>
              <div class = "col-md-6 pt-1">
                <img class="img-fluid rounded mx-auto d-block" src="img/monitor.jpg" alt="Card image cap">
              </div>
                
              <div class = "col-md-6 py-3">
                  <p class = "">Meet books lovers just like you in the community</p>
                  <p class = "py-1">Organize real world gathering</p>
                  <p class = "py-1">Share your Book Collection online and Exchange books eith others</p>

              </div>

            </div>
          </div>    
        </id>

        <div id="contact" class = "row mt-3 text-md-center">
          <div class = "col-md-12">

            <div class="btn-group mt-2" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#contact-window">Contact Us</button>
            </div>

            <p><small>&copy; 2016 Debashish, Raul, Christian </small> </p>
          </div>
        </div>     
      
      </div>


    </div>  <!-- container -->


<!-- Modal windows -->

    <div class="modal fade" id="contact-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label class = "sr-only" for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
              </div>
              <div class="form-group">
                <label class = "sr-only" for="mail">Email</label>
                <input type="email" class="form-control" id="mail" placeholder="Email">
              </div>
              <div class="form-group">
                <label class = "sr-only" for="text">Message</label>
                <input type="email" class="form-control" id="text" placeholder="Message">
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>

<!-- Modal window -->



    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </body>
</html>