<body>
    <div class="row">
        <div class="dropdown open col-md-2">
            <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="dropdown open col-md-2">
            <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="dropdown open col-md-2">
            <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>

    <div class = "row">
        <div id ="search-scroll">
            <div class="container-fluid col-md-7">
                <div class="pt-2 pb-1">
                    <div class = "media">
                        <div class="media-left media-top"><img class = "media-object" src="../img/harry1.jpg" alt = "..."></div>
                        <div class = "media-body">
                            <h4 class = "media-heading">Harry Potter and the Sorcerer's Stone</h4>
                            <h5>By JK Rowling </h5>
                            <p>Harry Potter has never even heard of Hogwarts when the letters start dropping on the doormat at number four, Privet Drive. Addressed in green ink on yellowish parchment with a purple seal, they are swiftly confiscated by his grisly aunt and uncle. Then, on Harry's eleventh birthday, a great beetle-eyed giant of a man called Rubeus Hagrid bursts in with some astonishing news: Harry Potter is a wizard, and he has a place at Hogwarts School of Witchcraft and Wizardry.</p>
                            <div class="btn-group"> 
                                <button type="button" class="btn btn-primary">Add to Cart</button>
                            </div>
                        </div>
                    </div>

                </div>          
            </div>
        </div>


        <div class="map">  
            <img width="550" src="http://maps.googleapis.com/maps/api/staticmap?center=Jamaica+NY&zoom=13&scale=1&size=550x500&maptype=roadmap&key=AIzaSyA1nMLRn74wf9mzGtJeuW838ryuzk4G6m4&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xfd0002%7Clabel:1%7CQueens+College&markers=size:mid%7Ccolor:0xee0002%7Clabel:2%7C8000+Utopia+Pkwy,+Jamaica,+NY+11439&markers=size:mid%7Ccolor:0xff1b12%7Clabel:3%7C63-25+Main+St,+Flushing,+NY+11367&markers=size:mid%7Ccolor:0xff0000%7Clabel:4%7C109-89+204th+St,+St.+Albans,+NY+11412&markers=size:mid%7Ccolor:0xff0000%7Clabel:5%7CJamaica+NY" alt="Google Map of Jamaica NY">
        </div>




        <div id ="search-scroll">
            <div class="container col-md-7">
                <div class="pt-2 pb-1">
                    <div class = "media">
                        <div class="media-left media-top"><img class = "media-object" src="../img/harry2.jpg" alt = "..."></div>
                        <div class = "media-body">
                            <h4 class = "media-heading">Harry Potter and the Chamber of Secrets</h4>
                            <h5>By JK Rowling </h5>
                            <p>Harry Potter's summer has included the worst birthday ever, doomy warnings from a house-elf called Dobby, and rescue from the Dursleys by his friend Ron Weasley in a magical flying car! Back at Hogwarts School of Witchcraft and Wizardry for his second year, Harry hears strange whispers echo through empty corridors - and then the attacks start. Students are found as though turned to stone... Dobby's sinister predictions seem to be coming true.</p>
                            <div class="inline">        
                                <button type="button" class="btn btn-primary">Add to Cart</button>
                            </div>
                        </div>
                    </div>

                </div>          
            </div>


            <div class="container col-md-7">
                <div class="pt-2 pb-1">
                    <div class = "media">
                        <div class="media-left media-top"><img class = "media-object" src="../img/harry3.jpg" alt = "..."></div>
                        <div class = "media-body">
                            <h4 class = "media-heading">Harry Potter and the Prisoner of Azkaban</h4>
                            <h5>By JK Rowling </h5>
                            <p>When the Knight Bus crashes through the darkness and screeches to a halt in front of him, it's the start of another far from ordinary year at Hogwarts for Harry Potter. Sirius Black, escaped mass-murderer and follower of Lord Voldemort, is on the run - and they say he is coming after Harry. In his first ever Divination class, Professor Trelawney sees an omen of death in Harry's tea leaves... But perhaps most terrifying of all are the Dementors.</p>
                            <div class="btn-group"> 
                                <button type="button" class="btn btn-primary">Add to Cart</button>
                            </div>
                        </div>
                    </div>

                </div>          
            </div>

            <div class = "col-md-6"></div>

            <div class="container col-md-7">
                <div class="pt-2 pb-1">
                    <div class = "media">
                        <div class="media-left media-top"><img class = "media-object" src="../img/harry4.jpg" alt = "..."></div>
                        <div class = "media-body">
                            <h4 class = "media-heading">Harry Potter and the Goblet of Fire</h4>
                            <h5>By JK Rowling </h5>
                            <p>The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition. Then at Hallowe'en, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons and Dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">Add to Cart</button>
                            </div>
                        </div>
                    </div>

                </div>          
            </div>
            
            <div class = "col-md-6"></div>


            <div class="container col-md-7">
                <div class="pt-2 pb-1">
                    <div class = "media">
                        <div class="media-left media-top"><img class = "media-object" src="../img/harry5.jpg" alt = "..."></div>
                        <div class = "media-body">
                            <h4 class = "media-heading">Harry Potter and the Order of the Phoenix</h4>
                            <h5>By JK Rowling </h5>
                            <p>Dark times have come to Hogwarts. After the Dementors' attack on his cousin Dudley, Harry Potter knows that Voldemort will stop at nothing to find him. There are many who deny the Dark Lord's return, but Harry is not alone: a secret order gathers at Grimmauld Place to fight against the Dark forces. Harry must allow Professor Snape to teach him how to protect himself from Voldemort's savage assaults on his mind.</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">Add to Cart</button>
                            </div>
                        </div>
                    </div>

                </div>          
            </div>          
        </div> <!-- scrool-->

    </div>
    <script src="app.js"></script>



</body>